.dropdown {
  display: flex;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  box-shadow: -1px 4px 20px -6px rgb(24, 24, 24);
}

.dropdown > .right__heading {
  align-content: center;
}

.dropdown > .center__heading {
  align-content: center;
}

.dropdown > .btn {
  background-color: gray;
  font-size: 20px;
}

.dropdown > .btn:hover {
  background-color: darkgray;
}
.dropdown-item:hover {
  background-color: lightgray;
}
